.pizza {
  display: flex;
  flex-direction: column;
  text-align: center;
  .size {
    padding: 7px 21px;
  }
  &__choose {
    margin-right: 5px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    color: #2c2c2c;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    margin: 0 auto;
    margin-right: -7px;
  }
  img {
    height: 260px;
  }
  span {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 10px;
    margin-bottom: 22px;
  }
  &__variation {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 7px 6px;
    display: flex;
    flex-direction: column;
  }
  &__types {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  &__sizes {
    display: flex;
    justify-content: space-between;
  }
  &__purchase{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__price{
    font-family: Nova;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 1.5%;
    font-weight: 700;
    color: #000;
    margin-top: 7px;
  }
  &__add{
    border-radius: 30px;
    color: #EB5A1E;
    border: 1px solid #EB5A1E;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    padding: 10px 18px;
    transition: font-size 0.3s;
    &:hover{
      background-color: #EB5A1E;
      color: #fff;
      font-size: 18px;
      padding-left: 9px;
      padding-right: 27px;

    }
    &:active{
      background-color: #d8531a;
      padding-left: 30px;
      img{
        display: none;
      }
    }
    img{
      height: 12px;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -1px;
    }
  }
}
.disabled {
    color: #25252542;
    pointer-events: none;
}
.choosen{
    background-color: #fff;
}
.thin {
  padding: 7px 35px;
}
.tradition {
  padding: 7px 17px;
}

