.sortItem{
    font-family: Nova;
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 15px 30px;
    color: black;
    margin-right: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}    
.active{
    background-color: #282828;
    color: #fff;
}