body {
  font-family: Nova;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  padding: 50px;
  background-color: #ffdf8c;
  @media (max-width: 768px) {
    padding: 25px;
  }
  &--content {
    border-radius: 10px;
    background-color: #fff;
  }
}
