body {
  font-family: Nova;
  background-color: #ffdf8c;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  padding: 50px;
  @media (max-width: 768px) {
    padding: 25px;
  }
  &--content {
    min-height: calc(100vh - 100px);
    border-radius: 10px;
    background-color: #fff;
    
  }
}
